@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@100;700&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.app{
  background-image: url("../public/Background.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  margin: 0 auto;  
  min-height: 98.5vh;
  border: 1px solid #4390b4;
}

/* ===== HEADER COMPONENT ============ */
.header{
display: flex;
flex-direction: column;
align-items: center;
}
.title{
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-decoration: underline;
  color: #4390b4;
}


/* ==========Footer CSS========== */

.footer {
  color: #000000;
  padding: 5px;
  background: linear-gradient( to right,  #d8edf8, #4ac0e1);
  text-align: center;
}

.footer a{
  text-decoration: none;   
  padding: 5px;
  }

.footer a:hover {
  color: wheat;
  border-bottom: 2px solid wheat;
}

/* ========== Home page CSS========== */
.home-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
}

.home-content .banner-img{
  width: 55%;  
  padding: 20px;
}

.banner-img img{
  width: 100%;
  object-fit: cover; 
}

.home-content .quiz-setup{
  width: 45%;
  /* margin-top: 100px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  font-weight: 600;
  color:#4390b4;
}

.home-content .add-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;    
}
.add-inputs .input-field{
  margin-top: 20px;

}

/* ================Quiz Page=============== */
.quiz-page{
  display: flex;
  flex-direction: column;
  /* justify-content: center;   */
  /* align-items: center; */
}
.quiz-page .title{
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #6e6f71;
  margin-top: 20px;
  text-align: center;
}

.quiz-page .quizDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* ================Question component CSS =============== */
.question-container{
  width : 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.currentQues-content{
width: 95%;
min-height: 350px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border: 5px solid grey;
padding: 20px;
margin-top: 10px;
}
.option-content{
width: 100%;
display: flex;
flex-wrap: wrap;
flex: 1;
align-items: center;
justify-content: space-around;
margin: 10px;
}

.single-option{
  width: 46%;
  height: 50px;
  padding: 15px 20px;
  margin: 10px;
  box-shadow: 0 0 2px grey;
}

.select {
  background-color: green;
  color: white;
  box-shadow: grey;
}
.wrong{
  background-color: red;
  color: white;
  box-shadow: grey;
}

.quit-nextQues{
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: space-around;
}

/* ================ Result page CSS ============= */
.result-page {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.result-page h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.result-page button {
  background-color:#4ac0e1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.result-page button:hover {
  background-color:#4390b4;
}

/* ============= LeaderBoard CSS =================== */
.leaderboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.leaderboard {
  text-align: center;
  margin-top: 50px;
  font-family: poppins;
  text-transform: uppercase;
  color:#4390b4;
}

.leaderboard h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.leaderboard ul {
  list-style: none;
  padding: 0;
}

.leaderboard ul li {
  font-size: 18px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: inline-block;
  width: 80%;
  transition: background-color 0.3s ease;
  background-color: rgba(249, 249, 249, 0.9);
}

.leaderboard ul li:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.sticky-button {
  margin-top: auto; 
  padding: 20px; 
}









@media screen and (max-width:768px){

  .home-content{
  flex-direction: column-reverse;
  align-items: center;
}

.home-content .banner-img{
  width: 80%;  
  margin: 0px;
  padding: 8px;
 
}

.banner-img img{
  width: 100%;
  object-fit: cover; 
}

.home-content .quiz-setup{
  width: 90%;
  
}

.single-option{
  width: 100%;  
}

}